1-Write a Python program to calculate the length of a string using 2 ways

2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource' <br>
Expected Result : 'w3ce' <br>
##Sample String : 'w3'<br>
Expected Result : 'w3w3'<br>
##Sample String : ' w'<br>
Expected Result : Empty String)

3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

9-Write a Python function to reverse a string if its length is a multiple of 4

10- Write a Python program to remove a newline in Python

11-Write a Python program to check whether a string starts with specified characters

12- Write a Python program to add prefix text to all of the lines in a string

13-Write a Python program to print the following numbers up to 2 decimal places

14-Write a Python program to print the following numbers up to 2 decimal places with a sign

15-Write a Python program to display a number with a comma separator

16-Write a Python program to reverse a string using 2 ways

 17-Write a Python program to count repeated characters in a string (hint:use dictionary)

18-Write a Python program to find the first non-repeating character in a given string

19-Write a Python program to remove spaces from a given string

20-Write a Python program to count the number of non-empty substrings of a given string

21-write a Python program to swap first and last element of any list.

22-Given a list in Python and provided the positions of the elements,
<br>write a program to swap the two elements in the list.<br>
(Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3 <br>
Output : [19, 65, 23, 90])

23- search for the all ways to know the length of the list

24-write a Python code to find the Maximum number of list of numbers.

25-write a Python code to find the Minimum number of list of numbers.

**26-search for if an elem is existing in list

**27- clear python list using different ways

**28-remove duplicated elements from a list

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.<br>
(Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]<br>
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

In [40]:
List = [1,3,4,6,7,8,9,1,3,4,5,6,8]
count = 0
repeated_values = []
for i in List:
    if i not in repeated_values:
        count += 1
        repeated_values.append(i)

print(count)
print(repeated_values)

8
[1, 3, 4, 6, 7, 8, 9, 5]

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [41]:
k = 3
input_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
value_count = {}
for element in input_list:
    if element not in value_count:
        value_count[element]  = 1
    else : value_count[element] += 1

output_elements = []
for x,y in value_count.items():
    if y > k:
        output_elements.append(x)

print(output_elements)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5 
Output: 2 2 3 4 5 4)

In [42]:
input_list = [1,2,2,3,4,5]

output_list = [] 

for i in range(len(input_list)):
    if i  == 0:
        output_list.append(input_list[i+1])

    elif i == (len(input_list) - 1):
        output_list.append(input_list[i-1])

    else:
        if input_list[i+1] > input_list[i-1]:
            output_list.append(input_list[i+1])
        else: input_list[i-1]

output_list

[2, 2, 3, 4, 5, 4]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [43]:
input_list = [1,2,3]
output_list = []
for i in range(3): 
	for j in range(3): 
		for k in range(3):
			if (i!=j and j!=k and i!=k): 
				output_list.append(
				[input_list[i], input_list[j], input_list[k]]
				)
output_list

[[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [44]:
## In case that the order matter (combination)

input_list = [1,2,3]
output_list = []
for i in range(3): 
	for j in range(3): 
		for k in range(3):
			if (i!=j and j!=k and i!=k): 
				output_list.append(
				[input_list[i], input_list[j], input_list[k]]
				)

for i in range(2): 
	for j in range(2): 
		if (i!=j):
		    output_list.append([input_list[i], input_list[j]])

for i in input_list:
	output_list.append([i])
	
output_list

[[1, 2, 3],
 [1, 3, 2],
 [2, 1, 3],
 [2, 3, 1],
 [3, 1, 2],
 [3, 2, 1],
 [1, 2],
 [2, 1],
 [1],
 [2],
 [3]]

In [45]:
## If the order doesn't matter (permutation)
input_list = [1,2,3]
output_list = [input_list]
for i in range(len(input_list)):
    for j in range(len(input_list)-i):
        output_list.append([input_list[i], input_list[j]])
for i in input_list:
    output_list.append([i])
output_list

[[1, 2, 3], [1, 1], [1, 2], [1, 3], [2, 1], [2, 2], [3, 1], [1], [2], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [46]:
List_1 = ['a', 'b']
List_2 = [1,2]
output_list=[]
for element_1 in List_1:
    for element_2 in List_2:
        output_list.append([element_1,element_2])
output_list

[['a', 1], ['a', 2], ['b', 1], ['b', 2]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [47]:
element_to_remove  = 1
input_list = [1,1,2,3,4,5,1,2,1]

output_list = [i for i in input_list if i != element_to_remove]
output_list

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List <br>
(The original list 1 is : [‘Gfg’, ‘is’, ‘best’]<br> 
The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] <br>
The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [48]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
output_list = []
for i in list2:
    output_list.append(list1[i])

output_list

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 <br>
Output : [(4, 5, 5, 4)] <br>
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 <br>
Output : [] )

In [49]:
input_list = [(4, 5, 5, 4), (5, 4, 3)]
k = 5
n = 2

output_list = []
for tuple_element in input_list:
    count_k = tuple_element.count(k)
    
    if count_k == n:
        output_list.append(tuple_element)

print(output_list)

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda<br>
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]<br>
Output :<br>
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]<br>
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]<br>
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [50]:
## assuming case lambda = 1
array = [[1,3,3],[2,1,2],[3,2,1]]
sorted_by_col_1 = sorted(array, key=lambda x: x[1])
sorted_by_col_1

[[2, 1, 2], [3, 2, 1], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value <br>
Input: <br>
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
<br>
Output: <br>
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [51]:
# sort by keys
input_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_by_keys = dict(sorted(input_dict.items()))
print(sorted_by_keys)

# sort by values
output_dict = {}
dictionary_values = [element for element in input_dict.values()]
dictionary_values.sort()

for value in dictionary_values:
    for key in input_dict:
        if input_dict[key] == value:
            output_dict[key] = value
            break

print(output_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values ) <br>
input : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 <br>
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [52]:
input_dict = {'Gfg' : 3,
            'is' : 7,
            'best' : 10,
            'for' : 6,
            'geeks' : 'CS'}
k = 7

output_dict = {}
for key, value in input_dict.items():
    try:
        if int(value) < 7:
            output_dict[key] = value
    except: 
        output_dict[key] = value

output_dict

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [16]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

merged_dict = dic1.copy() 
merged_dict.update(dic2) 
merged_dict.update(dic3) 

print(merged_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [15]:
dict1 = {'a': 1, 'b': 2,'b': 3, 'c': 4}
for x,y in dict1.items():
    print(x,y)

a 1
b 3
c 4

**44- Write a Python script to merge two Python dictionaries

In [14]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

merged_dict = dict1 | dict2

print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
input_dict = {
            'c1':1,
            'c2' : 2,
            'c3': 3,
            'c4': 4
            }

**46- Write a Python program to drop empty items from a given dictionary.<br>
Original Dictionary:<br>
{'c1': 'Red', 'c2': 'Green', 'c3': None}<br>
New Dictionary after dropping empty items:<br>
{'c1': 'Red', 'c2': 'Green'}

In [13]:
input_dict = {
            'c1':'Red',
            'c2' : 'Green',
            'c3': None
            }
output_dict = {x:y for x,y in input_dict.items() if y != None}
output_dict

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [11]:
## assuming you require an input and add it to 
a = 1
b = 2
c = 3 

mytuple = (a,b,c)
print(mytuple[a])

2

**48-Write a Python program to unpack a tuple into several variables

In [9]:
mytuple = (1,2,3,4,5)
a, *b,c = mytuple
a, b,c

(1, [2, 3, 4], 5)

**49-Write a Python program to add an item to a tuple

In [7]:
sample_tuple = (1,2,3,4,5)
item = 4
sample_list = list(sample_tuple)
sample_list.append(item)
sample_tuple = tuple(sample_list)
sample_tuple

(1, 2, 3, 4, 5, 4)

**50-Write a Python program to convert a tuple to a string

In [4]:
string = ''
sample_tuple = (1,2,3,4,5)
for  item in sample_tuple:
    string = string + str(item)
string

'12345'

**51-Write a Python program to convert a list to a tuple

In [53]:
List = [1,2,3,4,5]
tuple(List)

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [54]:
input_tuple = (1,2,3,4)
output_tuple = input_tuple[-1::-1]
output_tuple

(4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.<br>
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] <br>
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [55]:
Sample_list =  [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
output_list = []
for Tuple in Sample_list:
    output_list.append((Tuple[0],Tuple[1],100))
output_list

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0 <br>
<class 'str'> <br>
Convert the said string to a tuple: <br>
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [56]:
string = 'python 3.0'
string = string.replace(' ' , '')
output_tuple = tuple(char for char in string)
output_tuple

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [57]:
input_tuple = (1,2,3,4,5,6,7,8)
sum(input_tuple)/len(input_tuple)

4.5

**56-Write a Python program to add member(s) to a set.

In [58]:
## Assuming the question means Adding the members to get sum
sum({1,2,3,4,5})

15

**57-Write a Python program to remove an item from a set if it is present in the set.

In [59]:
## Assuming that the meaning is that we have a set with values we should remove and another one we should remove from
set_to_remove = {6,9}
set_to_keep = {1,2,3,4,5,6,9,7,8}
set_to_keep = {x for x in set_to_keep if x not in set_to_remove}
set_to_keep

{1, 2, 3, 4, 5, 7, 8}

In [60]:
## Assuming that we should remove only a specified value from a set
set_to_keep = {1,2,3,4,5,7,6,8,9}
## remove 6
set_to_keep.remove(6)
set_to_keep

{1, 2, 3, 4, 5, 7, 8, 9}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [61]:
def intersection(list1, list2):
    returned_list = []
    for item1 in list1:
        if item1 in list2:
            returned_list.append(item1)
    return returned_list

list1 = [1, 2, 3, 4, 5, 6, 67, 7, 87, 5, 4, 3]
list2 = [2, 3, 4, 5, 6, 7, 3, 2]
intersection(list1, list2)

[2, 3, 4, 5, 6, 7, 5, 4, 3]

In [62]:
def union(list1, list2):
    returned_list = list1.copy() 
    for item in list2:
        if item not in returned_list:
            returned_list.append(item)
    return returned_list

list1 = [1, 2, 3, 4, 5, 6, 67, 7, 87, 5, 4, 3]
list2 = [2, 3, 4, 5, 6, 7, 3, 2]

union(list1, list2)

[1, 2, 3, 4, 5, 6, 67, 7, 87, 5, 4, 3]

In [63]:
def symmetric_difference(list1,list2):
    returned_list = []
    for item in list1:
        if item not in list2:
            returned_list.append(item)
    return returned_list

**59-Write a Python program to find the maximum and minimum values in a set

In [64]:
input_set  = {6,4,2,1,6,8,9,7,5,3}
max = min = next(iter(input_set))

for item in input_set:
    if (item< min):
        min = item
    elif (item>max):
        max = item
print(max,min)

9 1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [65]:
Sum_ = 10
input_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
output_list = []

for i in range(len(input_list)):
    for j in range(i + 1, len(input_list)):
        if (input_list[i] + input_list[j]) == Sum_:
            output_list.append((input_list[i], input_list[j]))
    
    if (input_list[i]*2) == Sum_:
            output_list.append((input_list[i],input_list[i]))

output_list

[(0, 10), (1, 9), (2, 8), (3, 7), (4, 6), (5, 5)]